@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #ffffff;
        --foreground: #171717;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 
}

textarea {
    width: 70vw;
    background-color: white;
    border: none;
    outline: none;
    padding: 20px;
    margin: 30px;
    border-radius: 30px;
    resize: none;
}

.dotted-background {
    background-image: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.5) 1px,
        transparent 1px
    );
    background-size: 20px 20px;
    background-color: var(--background); /* Uses white background as defined */
}
